  h2 {
    margin-top: 0;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
    transition: background-color 0.2s;
  background-color: #0b2661;
}