* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: rgb(17, 15, 15);
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 5px;
}
